body{
    background-color:#201e22;
    font-family: "sofia-pro-soft", "sofia-pro fallback", system-ui, sans-serif;
    color: aliceblue;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
}


#cristalball{
    height: 60px;
    width: 60px;
}
.inscription{
    display: flex;
    gap: 10px;
    margin-bottom: 3rem;
}

label[for="name"]{
    padding-left:2rem ;
    font-size: 20px;
    font-weight: bold;
}

#premon{
    padding: 5px;
    border:2px solid #99D6F0;
    border-radius: 5px;

}
.pack{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin: 5rem;
    border-bottom: 5px solid transparent; border-image: linear-gradient(45deg, #7f77dd, #5dcaa5 ,#F198B9, #E5F198) 1;
}

label[for="soustext"]{
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.option{
    font-family: "sofia-pro", "sofia-pro fallback", system-ui, sans-serif;
    font-weight: bold;
}

.pokemon{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#button{
    font-family:"sofia-pro", "sofia-pro fallback", system-ui, sans-serif;
    font-weight: bold;
    color:  #FF8A99;
    background: #FFB8C1;
    border:2px solid #ff9ab5;
    width: 75px;
    padding: 3px;
    height: 35px;
    border-radius: 12px;
    margin-left: 8px;
    box-shadow:3px 5px 4px #4e66ad;
    
}


.container{
    border: 10px solid transparent; border-image: linear-gradient(45deg, #7f77dd, #5dcaa5 ,#F198B9, #E5F198) 1; 
    background-color:#607BCD ;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-right: 20rem;
    margin-left: 30rem;
    width: 50rem;
    height:40rem;
    box-shadow: 3px 5px 3px rgb(21, 20, 20);
}
    



       